/* #region base */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafafa;
    color: #111;
}
button {
    cursor: pointer;
    font-family: inherit;
}
ul, 
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

address {
    font-style: normal;
}

/* #endregion /base */
/* #region Component */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-decs {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.btn {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.orange {
    color: #fd9222;
}

/* #endregion Component */
/* #region Header */
.page-header {}

.header-nav {}

.logo {
    font-style: italic;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.03em;
}

.logo-span {
    font-style: normal;
}

.header-nav-list {}

.header-nav-item {}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #fd9222;
}
/* #endregion /Header */
/* #region Hero */
.Hero {
    background-color: rgba(17, 17, 17, 0.4);
}

.hero-title {
    font-weight: 500;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: -0.03em;
        color: #fff;
}

.hero-list {}

.hero-item {}

.btn-buy {
    background-color: #fd9222;
}

.btn-buy:hover,
.btn-buy:focus {
    color: #fd9222;
    background-color: #fcf1e0;
}

.btn-how {
    background-color: transparent;
}

.btn-how:hover,
.btn-how:focus {
    color: #fd9222;
}

.scroll-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: #fff;
}

.scroll-link:hover,
.scroll-link:focus {
    color: #fd9222;
}
/* #endregion /Hero */
/* #region Benefits */
.Benefits {
    background: #1e1823;
}

.benefits-list {}

.benefits-item {}

.benefits-subtitle {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.22;
        color: #fff;
}

.benefits-text {
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* #endregion /Benefits */
/* #region Ingridients */
.Ingridients {}

.ingredients-title {}

.ingredients-list {}

.ingredients-item {
    background: #fff
}

.ingridient-name {
    font-weight: 600;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-transform: uppercase;
}
/* #endregion /Ingridients */
/* #region How it's made? */
.made {}

.made-title {}

.made-subtitle {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
}

.made-list {}

.made-item {
    line-height: 1.29;
        letter-spacing: -0.02em;
}

.made-text {}
/* #endregion /How it's made? */
/* #region Products */
.products {}

.products-title {}

.products-list {}

.products-item {
    background: #fff;
}

.products-heading {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.02em;
        text-transform: uppercase;
}

.products-description {
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.02em;
        color: rgba(17, 17, 17, 0.7);
}

.products-price {
    font-weight: 600;
        line-height: 1.21;
        background-color: #fafafa;
}
/* #endregion /Products */
/* #region Top sellers */
.sellers {}

.sellers-title {}

.orange {}

.sellers-list {}

.sellers-item {
    background: #fff;
}

.sellers-name {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.02em;
        text-transform: uppercase;
}
/* #endregion /Top sellers */
/* #region Reviews */
.reviews {}

.reviews-title {}

.reviews-list {}

.reviews-item {
    background: #fff;
}

.reviews-author {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        text-align: center;
}

.reviews-text {
    line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(17, 17, 17, 0.7);
}
/* #endregion /Reviews */
/* #region Footer */
.footer {
    background: #1e1823;
}

.footer-slogan {
    font-weight: 500;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: -0.02em;
        color: #fff;
}

.footer-caption {
    font-weight: 500;
        line-height: 1.29;
        text-align: center;
        color: #fff;
}

.socials {}

.socials-item {}

.socials-link {}

.footer-address {}

.footer-contacts {}

.footer-contacts-item {}

.footer-contacts-link {
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color: #fd9222;
}
.footer-menu {}

.footer-menu-item {}

.footer-menu-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
    color: #fd9222;
}
/* #endregion /Footer */
